@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>There are currently @ViewData["HashesCount"] hashes stored in the database.</p>
</div>
